<main class="main">
    <div class="content">
        <div class="left-side">
            <h1>Proyecto Matemática VI 2024</h1>
            <p>Serie de Fourier Truncada y FFT. 🧠</p>
            <ul>
                <li>Luis Fernando Guzman Orozco - <b>21000542</b></li>
                <li>Jose Ivan Barreno Bulux - <b>22003949</b></li>
                <li>Byron Haldair Guzmán - <b>22003366</b></li>
            </ul>
            <button mat-raised-button color="primary" routerLink="/toolbar">Empezar</button>
        </div>
    </div>
</main>